<hr />
<div class="panel panel-primary">
  <div class="panel-heading text-center">Profile Details</div>
  <div class="panel-body">
    <h2 class="text-center">
      Welcome (እንኳን ደህና መጡ), {{ profileData.firstname }} !!!
    </h2>

    <table class="table table-striped">
      <caption class="text-center">
        Details for
        {{
          profileData.firstname
        }}
        {{
          profileData.lastname
        }}
      </caption>
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <!-- <th scope="col">Image</th> -->
          <th scope="col">First Name</th>
          <th scope="col">Middle Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Cuurent City</th>
          <th scope="col">Phone</th>
          <th scope="col">Role</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td *ngFor="let data of reportData" class="text-center">
            <Img [src]="data.imageUrl" />
          </td> -->
          <td>{{ profileData.firstname }}</td>
          <td>{{ profileData.middlename }}</td>
          <td>{{ profileData.lastname }}</td>
          <td>{{ profileData.current_city }}</td>
          <td>{{ profileData.phone }}</td>
          <td>{{ profileData.role }}</td>
          <td>{{ profileData.email }}</td>

          <a
            style="color: blue"
            >Update</a
          >
          <br>
          <br>
          <br>

           <a
            style="color: blue"
            >Help?</a
          >
        </tr>
      </tbody>
    </table>

     <ul *ngFor="let data of reportData" class="text-center">
            <Img [src]="data.imageUrl" />
            {{data.description}}
            <br />
            {{data.imageName}}
            <hr />
     </ul>
  </div>
</div>
