<div>
  <form [formGroup]="reportForm" (ngSubmit)="onReport(reportForm)">
     <input
     type="text"
     formControlName="title"
     placeholder="title"
     >

      <input
     type="text"
     formControlName="description"
     placeholder="description"
     >

      <input
     type="text"
     formControlName="imageName"
     placeholder="imageName"
     >

      <!-- <input
     type="file"
     formControlName="images"
     placeholder="images"
     > -->

      <!-- <input
     type="date"
     formControlName="createdAt"
     placeholder="createdAt"
     > -->

      <input
     type="text"
     formControlName="postedBy"
     placeholder="postedBy"
     >

     <button>Submit</button>
  </form>
</div>

<hr>





