h1 {
  color : red;
  font-size :44px;
}

h2 {
color: blue;
}


 img {
  border-radius: 12px;
//   width: 110px;
//   height: 79px;
//   margin: 0 auto;
//   z-index: 9999;
//   line-height: 80px;
//   cursor: pointer;
// }

//  .panel-body, img {
//   width: 1105px;
//   height: 79px;
}
