<div class="panel panel-primary">
  <div class="panel-heading text-center">Register</div>

  <div class="panel-body">
    <form
      [formGroup]="signupForm"
      (ngSubmit)="onRegister(signupForm)"
      class="form-horizontal"
    >
      <div class="form-group" [ngClass]="{'has-error': (signupForm.get('firstname')?.touched ||
                                                        signupForm.get('firstname')?.dirty) &&
                                                        !signupForm.get('firstname')?.valid}"
      >
        <div class="col-md-12">
          <label class="control-label" for="fname"> First Name</label>
          <input
            class="form-control"
            type="text"
            id="fname"
            placeholder="Enter First Name"
            formControlName="firstname"
          />

          <div class="help-block" *ngIf="signupForm.get('firstname')?.touched ||
                                        signupForm.get('firstname')?.dirty &&
                                        signupForm.get('firstname')?.errors"
          >
          <span *ngIf="signupForm.get('firstname')?.errors?.['required']">
            First Name required
          </span>
          </div>

        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': (signupForm.get('lastname')?.touched ||
                                                        signupForm.get('lastname')?.dirty) &&
                                                        !signupForm.get('lastname')?.valid}">
        <div class="col-md-12">
          <label class="control-label" for="lname"> Last Name</label>
          <input
            class="form-control"
            type="text"
            id="lname"
            placeholder="Enter Last Name"
            formControlName="lastname"
          />
          <div class="help-block" *ngIf="signupForm.get('lastname')?.touched ||
                                        signupForm.get('lastname')?.dirty &&
                                        signupForm.get('lastname')?.errors"
          >
          <span *ngIf="signupForm.get('lastname')?.errors?.['required']">
            Last Name required
          </span>
          </div>

        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': (signupForm.get('email')?.touched ||
                                                        signupForm.get('email')?.dirty) &&
                                                        !signupForm.get('email')?.valid}">
        <div class="col-md-12">
          <label class="control-label" for="email"> Email</label>&nbsp;
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <input
            class="form-control"
            type="email"
            id="email"
            placeholder="Enter your Email"
            formControlName="email"
          />

           <div class="help-block" *ngIf="signupForm.get('email')?.touched ||
                                        signupForm.get('email')?.dirty &&
                                        signupForm.get('email')?.errors"
          >
          <span *ngIf="signupForm.get('email')?.errors?.['required']">
            Email required
          </span>
          <span *ngIf="signupForm.get('email')?.errors?.['pattern']">
            Please enter a valid email
          </span>
          </div>

        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': (signupForm.get('password')?.touched ||
                                                        signupForm.get('password')?.dirty) &&
                                                        !signupForm.get('password')?.valid}">
        <div class="col-md-12">
          <label class="control-label" for="pass"> Password</label>&nbsp;
          <span class="glyphicon glyphicon-lock"></span>
          <input
            class="form-control"
            type="password"
            id="pass"
            placeholder="Enter your Password"
            formControlName="password"
          />

         <div class="help-block" *ngIf="signupForm.get('password')?.touched ||
                                        signupForm.get('password')?.dirty &&
                                        signupForm.get('password')?.errors"
          >
          <span *ngIf="signupForm.get('password')?.errors?.['required']">
           Password required
          </span>

           <span *ngIf="signupForm.get('password')?.errors?.['minlength']">
           Password min length should be at least 4
          </span>

          </div>

        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': (signupForm.get('phone')?.touched ||
                                                        signupForm.get('phone')?.dirty) &&
                                                        !signupForm.get('phone')?.valid}">
        <div class="col-md-12">
           <label class="control-label" for="phone"> Phone</label>&nbsp;
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          <input
            class="form-control"
            type="tel"
            id="phone"
            placeholder="Enter your Phone"
            formControlName="phone"
          />

           <div class="help-block" *ngIf="signupForm.get('phone')?.touched ||
                                        signupForm.get('phone')?.dirty &&
                                        signupForm.get('phone')?.errors"
          >
          <span *ngIf="signupForm.get('phone')?.errors?.['required']">
           Phone required
          </span>

          </div>

        </div>
      </div>

      <!-- Role -->
         <div class="form-group" [ngClass]="{'has-error': (signupForm.get('role')?.touched ||
                                                        signupForm.get('role')?.dirty) &&
                                                        !signupForm.get('role')?.valid}">
        <div class="col-md-12">
           <label class="control-label" for="role"> Role</label>&nbsp;
          <input
            class="form-control"
            type="tel"
            id="phone"
            placeholder="Enter your Role"
            formControlName="role"
          />

           <div class="help-block" *ngIf="signupForm.get('role')?.touched ||
                                        signupForm.get('role')?.dirty &&
                                        signupForm.get('role')?.errors"
          >
          <span *ngIf="signupForm.get('role')?.errors?.['required']">
           Role required
          </span>

          </div>

        </div>
      </div>


      <!-- Submit button -->
      <div>
        <button
          type="submit"
          [disabled]="!signupForm.valid"
          class="btn btn-success btn-lg btn-block"
        >Submit</button>

      </div>
    </form>
  </div>
</div>
