<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <h2 class="animate-charcter text-center">Welcome <br /> To <br />Daniel's website!</h2><br/>

<!-- <marquee class="animate-charcter text-center">Welcome <br /> To <br />Daniel's website!></marquee> -->

    <!-- <ul class="navbar-nav ml-auto" *ngIf=""> -->
      <!-- <li class="nav-item nav-item-right">
        <a href="/" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link" routerLink="login">Login</a>
      </li> -->
    <!-- </ul> -->
    <!-- <ul class="navbar-nav ml-auto" *ngIf=""> -->
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"></a>
      </li> -->
      <li class="nav-item">
        <!-- <a href class="nav-link" >LogOut</a> -->
      </li>
    <!-- </ul> -->
  </nav>
      <!-- <marquee class="">Welcome <br /> To <br />Daniel's website!</marquee><br/> -->

</div>
