img {

  border-radius: 12px;
  width: 110px;
  height: 79px;

  margin: 0 auto;
  z-index: 9999;
  line-height: 80px;
	cursor: pointer;
}

.panel-heading {
  width: 100%;
  z-index: 99;
  position: fixed;
}

.container {
  margin-top: 100px;
  width: 75%;
  background-color: rgb(249, 215, 171);
  border: 2px solid rgb(171, 223, 249);
  z-index: 99999;
}

hr{
  color: red
}

.btn{
  border-radius: 35px;
}


