table,
th,
td {
  border-collapse: collapse;
  max-width: 100%;
  text-align: center;
}

th {
  background-color: lightseagreen;
}
td {
  background-color: orange !important;
}
h1 {
  text-align: center;
  color: blue;
  text-decoration: underline;
}


