 <div class="container">
  <!-- <div class="panel-heading ">Users List</div>  -->
  <div class="panel-body">
    <label class="control-label" for="search"> Search</label>&nbsp;
    <span class="glyphicon glyphicon-search"></span>
    <input
      class="form-control"
      type="search"
      id="email"
      placeholder="Search by user's First Name or Last Name..."
      [(ngModel)]="userInput"
    />
     &nbsp;
    <p>You are searching for user - {{ userInput }}</p>
    <p>Number of search result : {{ (userslist | myPipe: userInput).length }} out of {{ userslist.length }} total users</p>
    &nbsp;
    <div *ngIf="(userslist | myPipe: userInput).length === 0">
      <p   style="color:red;">Bad Request, Search Again!!</p>
    </div>

    <table class="table table-striped">
      <!-- <caption style="text-align:center; font-size:22px">Users Lists</caption> -->
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userslist  | myPipe: userInput; let index = index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>

          <a style="color: blue" [routerLink]="['/profile', user._id]"
            >User Details</a
          >
          ||

          <a style="color: #ff0000" [routerLink]=""> Delete User</a>
        </tr>
      </tbody>
    </table>

    Total users are: {{userslist.length}}
    <!-- <span *ngFor="let user of userslist; let index = index"></span> -->
  </div>
</div>
