<!-- <div>
    <header>
      <div id="brand">
          DANNY
          &nbsp;
          <a [routerLink]="['/home']" class="btn btn-info">Home</a>
      </div>
      <div id="social">
         <a
         [routerLink]="['/','login']"
         class="btn btn-success"
         *ngIf="!loginService.isLoggedIn()"
         >
             <span class="glyphicon glyphicon-log-in"></span> LogIn</a>
         &nbsp;
         <a
         [routerLink]="['/', 'signup']"
          class="btn btn-info"
         *ngIf="!loginService.isLoggedIn()"
          >
          <span class="glyphicon glyphicon-user"></span> Register</a>
           &nbsp;
           <a

            class="btn btn-danger"
            style="cursor: pointer"
            *ngIf="loginService.isLoggedIn()"
            (click)="!!loginService.logout()"
            >
             <span class="glyphicon glyphicon-log-out"></span> LogOut</a>
      </div>
    </header>
</div> -->











<!-- <div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <marquee class="animate-charcter text-center">Welcome <br /> To <br />Daniel's website!</marquee><br/> -->

<!-- <marquee class="animate-charcter text-center">Welcome <br /> To <br />Daniel's website!></marquee> -->

    <!-- <ul class="navbar-nav ml-auto" *ngIf=""> -->
      <!-- <li class="nav-item nav-item-right">
        <a href="/" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/" class="nav-link" routerLink="login">Login</a>
      </li> -->
    <!-- </ul> -->
    <!-- <ul class="navbar-nav ml-auto" *ngIf=""> -->
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"></a>
      </li> -->
      <!-- <li class="nav-item"> -->
        <!-- <a href class="nav-link" >LogOut</a> -->
      <!-- </li> -->
    <!-- </ul> -->
  <!-- </nav> -->
      <!-- <marquee class="">Welcome <br /> To <br />Daniel's website!</marquee><br/> -->

<!-- </div> -->
