<!-- <div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <h2 class="animate-charcter text-center" *ngFor="let data of profileData">Welcome - {{data.firstname}}</h2><br/>
      <li class="nav-item">
      </li>
  </nav>
</div>

<hr>

<div>
  <h2>Reports test</h2>
  <h3 *ngFor="let data of reportData">
    Date : {{data.createdAt | date}}
    Title : {{data.title}}
    imageName : {{data.imageName}}
     Description : {{data.description}}
     images:  <Img [src]="data.imageUrl" />
  </h3>
</div> -->

<hr >
<div class="panel panel-primary">
  <div class="panel-heading text-center" *ngFor="let user of profileData"><h3>Welcome, {{user.firstname}} !!</h3></div>

  <div class="panel-body">
  <h1 *ngFor="let user of reportData">{{user.createdAt | date}}</h1>

</div>
</div>
